<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <title>Danh sách bất động sản</title>
</head>
<body>
<!--    <div class="container">-->
<!--        <h3>List Accommodation</h3>-->
<!--        <hr>-->
<!--        <table class="table table-bordered table-striped">-->
<!--            <thead class="thead-dark">-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--                <th>Address</th>-->
<!--                <th>Amenity</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="item : ${accommodation}">-->
<!--                <td th:text="${item.getAccommadationName()}"></td>-->
<!--                <td th:text="${item.getAddress()}"></td>-->
<!--                <td th:text="${item.getAmenity()}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->

    <div class="container">
        <h3>List Accommodation Type</h3>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item2 : ${accomType}">
                <td th:text="${item2.getType()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>